@font-face {
    font-display: swap; 
    font-family: "Open-Sans-regular";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/open-sans-v36-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_vietnamese-regular.woff2") format("woff2"); 
  }

  @font-face {
    font-display: swap; 
    font-family: "Open-Sans-bold";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/open-sans-v36-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_vietnamese-700.woff2") format("woff2"); 
  }
:root{
    --white: #FFFFFF;
    --black: #000;
    --red: #DE2E54;
    --hero-bg: #0EB4C1;
    --list-title: #222222;
    --list-disc: #444444;
}
*::before, *::after, *{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Open-sans-bold";
}
header, main, section, footer{
    width: 100%;
    height: auto;
}
.container{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 20px;
}
.btn{
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;   
}
.btn-danger{
    background: var(--red) ;
    border: 2px solid var(--red);
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 0.5s ease all;
}
.btn-danger:hover{
    background: #fff;
    color: var(--red);
    border: 2px solid var(--red);
}
.site-header{
    background: var(--white);
    box-shadow: 0px 0px 8px 0px rgb(105, 104, 104);
    position: fixed;
    top: 0;
    z-index: 1;
}
.site-header .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}
.header-inner .header-logo-link{
    color: red;
}
.header-inner .site-nav{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-nav .sitenav-list{
    flex-basis: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.sitenav-list .sitenav-item .sitenav-link{
    text-decoration: none;
    font-size: 17px;
    color: var(--black);
    transition: 0.5s ease all;
}
.sitenav-item .sitenav-link:hover{
    color: var(--red);
}
.hero{
    width: 100%;
    min-height: 80vh;
    margin-top: 5.3rem;
    display: flex;
    align-items: center;
    background: var(--hero-bg);
    color: #fff;    
    position: relative;
}
.hero .hero-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-inner .hero-title-box{
    flex-basis: 40%;
}
.hero-title-box .hero-title{
    font-size: 32px;
    font-family: "Open-sans-bold";
    line-height: 50px;
    font-style: italic;
}
.hero-title-box .hero-discription{
    font-size: 16px;
    font-family: "Open-sans-regular";
    line-height: 35px;
    letter-spacing: 1px;
}
.hero-title-box .hero-admission{
    position: relative;
    top: 1rem;
}
.hero-inner .hero-image-box{
    width: 50%;
    min-height: 70vh;
    background-image: url("../assets/images/AnsorAka.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
}
.xizmatlar{
    margin-top: 4rem;
    text-align: center;
}
.xizmatlar .xizmatlar-title-box{
    width: 100%;
    text-align: center;
}
.xizmatlar-title-box .xizmatlar-title{
    font-size: 27px;
    font-weight: "Open-sans-bold";
}
.xizmatlar .xizmatlar-list{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 2rem;
}
.xizmatlar-list .xizmatlar-item{
    display: flex;
    align-items: stretch;
    position: relative;
}
.xizmatlar-item .xizmatlar-item-texts{
    flex-basis: 69%;
    text-align: start;
}
.xizmatlar-item .xizmatlar-item-image{
    flex-basis: 50%;
    padding: 0.5rem;
    text-align: center;
}
.xizmatlar-item .xizmatlar-item-image::before{
    content: " ";
    display: inline-block;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 1rem;
}
.xizmatlar-item:nth-child(1) .xizmatlar-item-image::before{
    background-image: url("../assets/images/image\ 1.jpg");
}
.xizmatlar-item:nth-child(2) .xizmatlar-item-image::before{
    background-image: url("../assets/images/image\ 2.jpg");
}
.xizmatlar-item:nth-child(3) .xizmatlar-item-image::before{
    background-image: url("../assets/images/image\ 3.jpg");
}
.xizmatlar-item:nth-child(4) .xizmatlar-item-image::before{
    background-image: url("../assets/images/image\ 4.jpg");
}
.xizmatlar-item-texts h4 {
    font-size: 20px;
    color: var(--list-title);
}
.xizmatlar-item-texts p{
    color: var(--list-disc);
    line-height: 25px;
    font-size: 14px;
}